.navbar__cnt {
  position: fixed;
  width: 100%;
  background-color: #fff;
  height: 60px;
  border-bottom: 1px solid rgba(123, 127, 153, 0.15);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 24px;
  z-index: 10;
}

.navbar__cnt img {
  cursor: pointer;
}

.navbar__right {
  display: flex;
  align-items: center;
}

.navbar__item {
  display: flex;
  align-items: center;
  align-items: center;
  padding: 12px 13px;
  gap: 8px;
  height: 40px;
  background: #ffffff;
  border: 1px solid rgba(123, 127, 153, 0.25);
  border-radius: 4px;
  cursor: pointer;
}

.navbar__item label {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 16px;
  color: #143a4f;
  cursor: pointer;
}
.navhost {
  margin-right: 20px;
}
.navlog {
  margin-right: 10px;
}

.navbar_menu {
  display: none;
}

.navbar__mobile {
  display: block;
  position: fixed;
  width: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 20;
}

.navbar__top {
  background: rgba(20, 58, 79, 0.95);
  border-bottom: 1px solid rgba(123, 127, 153, 0.15);
  height: 60px;
  padding: 0 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar__top img {
  cursor: pointer;
}

.navbar__bottom {
  background: rgba(20, 58, 79, 0.95);
  backdrop-filter: blur(10px);
  overflow-y: auto;
  flex: 1;
  height: 100%;
}

.navbar__bottom-title {
  padding: 16px 16px;
}

.navbar__bottom-title p {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 33px;
  letter-spacing: -0.03em;
  color: #ffffff;
}

.navbar__bottom-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px 16px;
  cursor: pointer;
}

.navbar__bottom-item label {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 22px;
  text-align: right;
  letter-spacing: -0.03em;
  color: #ffffff;
  cursor: pointer;
}

.logincntoverlay {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.25);
  z-index: 30;
}

.loginbody {
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 95%;
  max-width: 420px;
  height: auto;
  min-height: 398px;
  pointer-events: all;
  max-height: 95vh;
  overflow: auto;
  background-color: #fff;
  z-index: 35;
  gap: 10px;
  border-radius: 20px;
  padding: 0 16px;
}

.loginwelcome {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 120%;
  text-align: center;
  letter-spacing: -0.03em;
  color: #143a4f;
  padding: 40px 29px;
}

.remforgot {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.remforgot-left {
  display: flex;
  align-items: center;
  gap: 5px;
}

.remforgot label {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 19px;
  text-align: right;
  letter-spacing: -0.03em;
  color: #143a4f;
}

.loginbtn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 12px;
  gap: 10px;
  width: 100%;
  height: 59px;
  background: #143a4f;
  border: 1px solid rgba(123, 127, 153, 0.25);
  border-radius: 8px;
  cursor: pointer;
  font-family: "Manrope";
  font-style: normal;
  font-weight: 800;
  font-size: 14px;
  line-height: 19px;
  letter-spacing: -0.03em;
  color: #ffffff;
  margin: 30px 0;
}

.loginor {
  text-align: center;
  font-family: "Manrope";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 120%;
  letter-spacing: -0.03em;
  color: #143a4f;
  margin-bottom: 30px;
}

.dsocial {
  display: grid;
  gap: 12px;
  margin-bottom: 30px;
}

.donhaveacnt {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 120%;
  text-align: center;
  letter-spacing: -0.03em;

  color: #143a4f;
  margin-bottom: 80px;
  cursor: pointer;
}

/* Input Field */
.inputfieldcnt label {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 600;
  font-size: 10px;
  line-height: 14px;
  color: #000000;
}

.dinput {
  display: flex;
  align-items: center;
  padding: 20px 12px;
  gap: 10px;
  max-width: 380px;
  height: 59px;
  background: #ffffff;
  border: 1px solid rgba(123, 127, 153, 0.25);
  border-radius: 8px;
  margin-bottom: 16px;
}

.dinput input {
  width: 100%;
  border: none;
  outline: none;
  background-color: transparent;
  font-family: "Manrope";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
  letter-spacing: -0.03em;
  color: #7b7f99;
}

/* Social Auth */
.social_cnt {
  padding: 20px 12px;
  gap: 10px;
  width: 100%;
  height: 64px;
  background: #ffffff;
  border: 1px solid rgba(123, 127, 153, 0.25);
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.socialright {
  margin: 0 auto;
}

.socialright p {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 800;
  font-size: 14px;
  line-height: 19px;
  text-align: center;
  letter-spacing: -0.03em;
  color: #143a4f;
}

/* Hero */
.herocnt {
  padding-top: 60px;
  border-bottom: 1px solid rgba(123, 127, 153, 0.15);
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 1fr;
  min-height: 374px;
}

.heroleft {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.heroleftcnt {
  display: grid;
  grid-gap: 20px;
  margin-left: auto;
  margin-right: 60px;
  padding: 20px 0;
}

.heroright {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.herotitle {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 120%;
  letter-spacing: -0.03em;
  color: #143a4f;
}

.herosearch {
  display: flex;
  align-items: center;
  gap: 10px;
}

.herodsearch {
  display: flex;
  width: 340px;
  height: 60px;
  background: #ffffff;
  border: 1px solid rgba(123, 127, 153, 0.25);
  border-radius: 8px;
  align-items: center;
  padding: 0px 10px;
  gap: 10px;
}

.herosearchicon {
  margin-top: 5px;
}

.heroinputsearch {
  outline: none;
  border: none;
  background-color: transparent;
  font-family: "Manrope";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
  color: #000000;
  width: 100%;
}

.heroinputsearch::placeholder {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
  color: #000000;
}

.herofilter {
  display: flex;
  align-items: center;
  gap: 12px;
}

.herofilteritem {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 12px 13px;
  cursor: pointer;
  gap: 8px;
  height: 40px;
  background: #ffffff;
  border: 1px solid rgba(123, 127, 153, 0.25);
  border-radius: 8px;
}

.herofilteritem label {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: -0.03em;
  color: #000000;
  cursor: pointer;
}

.herofiltb {
  width: 8px;
  border-radius: 100%;
  height: 8px;
  background: rgba(123, 127, 153, 0.25);
}

.herofiltadd {
  cursor: pointer;
  margin-top: 5px;
}

.herosearchbtn {
  width: 60px;
  height: 60px;
  left: 368px;
  top: 194px;
  background: #143a4f;
  border: 1px solid rgba(123, 127, 153, 0.25);
  border-radius: 8px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Home card */

.homecnt {
  max-width: 291px;
  border: 1px solid rgba(123, 127, 153, 0.15);
  border-radius: 12px;
}

.hometop {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.hometopimage {
  margin: 4px 4px;
  display: flex;
  overflow-x: auto;
  scroll-behavior: smooth;
  touch-action: pan-x;
  border-radius: 8px 8px 4px 4px;
}

.hometopimage img {
  scroll-snap-align: center;
  width: 100%;
  height: 158px;
  object-fit: cover;
  object-position: center;
}

.homefavicon {
  position: absolute;
  top: 8px;
  right: 8px;
}

.homenavarrows {
  position: absolute;
  bottom: 8px;
  left: 8px;
  background: #ffffff;
  border-radius: 8px;
  width: 48px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 4px 4px;
}
.homenavaritems {
  margin-top: 3px;
  cursor: pointer;
}

.hbtop {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 10px 5px 10px;
}

.hbtopleft {
  display: flex;
  align-items: center;
  gap: 5px;
}

.hbtopleft label {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 19px;
  letter-spacing: -0.03em;
  color: #143a4f;
}

.hbtopleftcnt {
  width: 4px;
  height: 4px;
  border-radius: 100%;
  background: #5db86c;
}

.hbtopright {
  cursor: pointer;
}

.hbtop2 {
  display: flex;
  gap: 5px;
  align-items: center;
  padding: 0px 10px 5px 10px;
}

.hbtop2 label {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: -0.03em;
  color: #000000;
}

.hbtop2divide {
  width: 3px;
  height: 3px;
  border-radius: 100%;
  background: #7b7f99;
}

.hbtopfeatures {
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 0px 10px 12px 10px;
  border-bottom: 1px solid rgba(123, 127, 153, 0.15);
}

.hbftitle {
  display: flex;
  align-items: center;
  gap: 5px;
  font-family: "Manrope";
  font-style: normal;
  font-weight: 600;
  font-size: 10px;
  line-height: 14px;
  letter-spacing: -0.03em;
  color: #7b7f99;
}

.featurdot {
  width: 3px;
  height: 3px;
  border-radius: 100%;
  background: #7b7f99;
  border: 1px solid #7b7f99;
}

.homedown {
  padding: 12px 12px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.homedownprice {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 600;
  font-size: 8px;
  line-height: 11px;
  letter-spacing: -0.03em;
  color: #7b7f99;
}

.homedownprice span {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 800;
  font-size: 14px;
  line-height: 19px;
  letter-spacing: -0.03em;
  color: #5db86c;
}

.homedownright {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4px 8px;
  height: 22px;
  right: 12px;
  background: rgba(39, 174, 96, 0.15);
  border-radius: 20px;
}

.homedownright label {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 600;
  font-size: 10px;
  line-height: 14px;
  color: #27ae60;
}

/* Homes */
.homescnt {
  max-width: 992px;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 40px;
  padding: 40px 16px;
}

/* Side bar Outlet */
.sidebaroutlet_cnt {
  position: fixed;
  top: 60px;
  right: 0;
  bottom: 0;
  background: rgba(20, 58, 79, 0.95);
  border-left: 1px solid rgba(123, 127, 153, 0.5);
  backdrop-filter: blur(10px);
  max-width: 420px;
  width: 100%;
  z-index: 20;
}

.sortnavbar__top {
  display: none;
}

.fcbbody {
  padding: 0px 16px;
}

.fcbbody__top {
  display: flex;
  align-items: center;
  gap: 22px;
  margin-top: 16px;
  margin-bottom: 12px;
}

.fcbbt-left, .fcbbitem-left {
  cursor: pointer;
}

.fcbbody__top label, .fcbbitem label {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 22px;
  text-align: right;
  letter-spacing: -0.03em;
  color: #ffffff;
}

.fcbbitem {
  display: flex;
  align-items: center;
  gap: 22px;
  cursor: pointer;
  padding: 12px 0;
}

.filterheadnavbar__top {
  border-bottom: 1px solid rgba(123, 127, 153, 0.15);
  height: 60px;
  padding: 0 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.filterheadnavbar__top img {
  cursor: pointer;
}

.fhntleft {
  display: flex;
  align-items: center;
  gap: 22px;
}

.fhntleftarrow {
  cursor: pointer;
}

.fhntleft label {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  letter-spacing: -0.03em;
  color: #ffffff;
}

.fhntright {
  margin-top: 5px;
}

.sortbyhead {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 19px 16px;
}

.sortbyheadtitle {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  letter-spacing: -0.03em;
  color: #ffffff;
  margin-top: -10px;
}

.sortbyheadclose {
  cursor: pointer;
}

.sortbybody,
.filterbybody {
  padding: 0px 26px;
  margin-top: -12px;
  display: grid;
  gap: 22px;
}

.filterbybody {
  padding: 0px 16px 0px 26px;
  margin-top: -12px;
  display: grid;
  gap: 22px;
}

.sortbyselected {
  width: 16px;
  height: 16px;
  border-radius: 9999px;
}

.sortbyselected {
  background: #5db86c;
}

.sortbyitem {
  display: flex;
  align-items: center;
  gap: 22px;
  cursor: pointer;

  padding: 12px 0;
}

.filterbyitem {
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}

.filterbyitemleft {
  display: flex;
  align-items: center;
  gap: 22px;
}

.filterbyitemleft label {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 800;
  font-size: 14px;
  line-height: 22px;
  text-align: right;
  letter-spacing: -0.03em;
  color: #ffffff;
  cursor: pointer;
}

.filterbyitemright {
  cursor: pointer;
}

.sortbyitem label {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 800;
  font-size: 14px;
  line-height: 22px;
  text-align: right;
  letter-spacing: -0.03em;
  color: #ffffff;
  cursor: pointer;
}

@media screen and (max-width: 990px) {
  .heroleftcnt {
    display: flex;
    flex-direction: column;
    width: 100%;
    grid-gap: 20px;
    margin: 0px 16px;
    padding-left: 20px;
  }

  .homescnt {
    max-width: 992px;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    display: grid;
    grid-template-columns: 291px 291px;
    gap: 20px;
    padding: 40px 16px;
  }
}
@media screen and (max-width: 500px) {
  .navbar_menu {
    display: flex;
    cursor: pointer;
    padding-right: 6px;
  }

  .navbar__cnt {
    padding: 16px 16px;
  }

  .navbar__right {
    display: none;
  }

  .herocnt {
    padding-top: 60px;
    border-bottom: 1px solid rgba(123, 127, 153, 0.15);
    display: block;
    width: 100%;
    grid-template-columns: 1fr;
  }

  .heroleft {
    display: flex;
    width: 100%;
    align-items: flex-start;
    justify-content: flex-start;
  }

  .heroleftcnt {
    display: flex;
    flex-direction: column;
    width: 100%;
    grid-gap: 20px;
    margin: 0px 16px;
    padding: 20px 0px 40px 0px;
  }

  .heroright {
    display: none;
  }

  .herotitle {
    font-family: "Manrope";
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 120%;
    letter-spacing: -0.03em;
    color: #143a4f;
  }

  .herosearch {
    display: flex;
    align-items: center;
    gap: 10px;
    width: 100%;
  }

  .herodsearch {
    display: flex;
    max-width: 500px;
    width: 100%;
    height: 60px;
    background: #ffffff;
    border: 1px solid rgba(123, 127, 153, 0.25);
    border-radius: 8px;
    align-items: center;
    padding: 0px 10px;
    gap: 10px;
  }

  .homescnt {
    max-width: 992px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    grid-template-columns: 1fr;
    gap: 20px;
    padding: 20px 16px;
  }

  .homecnt {
    max-width: 500px;
    width: 100%;
    border: 1px solid rgba(123, 127, 153, 0.15);
    border-radius: 12px;
  }

  /* Sidebar outlet */
  .sidebaroutlet_cnt {
    top: 0;
    border-left: none;
  }

  .sortnavbar__top {
    border-bottom: 1px solid rgba(123, 127, 153, 0.15);
    height: 60px;
    padding: 0 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .sortnavbar__top img {
    cursor: pointer;
  }

  .sortbyhead {
    padding-top: 26px;
    padding-bottom: 41px;
  }
  .sortbyheadclose {
    display: none;
  }

  .fhntright {
    display: none;
  }

  .filterheadnavbar__top {
    border-bottom: none;
  }
}
